[Unit]
Description=LowR Battery Monitor Check
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/lowr/bin/lowr-battery-monitor
Environment=DISPLAY=:0
LogLevelMax=warning
